# Force Heroku to use npm install instead of npm ci
scripts-prepend-node-path=true
force=true
package-lock=false

# Prefer faster installs
audit=false
fund=false

# Enable optional dependencies
optional=true

# Ensure platform-specific dependencies are installed
omit= 